.page {
  min-height: 100vh;
  background: white;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.reader {
  display: flex;
  flex-direction: column;
}

.controls {
  position: sticky;
  top: 0;
  z-index: 20px;
}

.chapters {
  flex: 1;
  padding: 20px;
  > * + * {
    margin-top: 24px;
  }
}
